@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

@keyframes flow {
    from {
        height: 1vh;
    }

    50% {
        height: 1.5vh;
    }

    to {
        height: 1vh
    }
}

@keyframes flow2 {
    from {
        height: 1vh;
    }

    50% {
        height: 0.5vh;
    }

    to {
        height: 1vh
    }
}

@keyframes lightup {
    from {
        color: white;
    }

    to {
        color: #4d403b;
        font-size: 1.4em;
    }
}

@keyframes lightup2 {
    from {
        color: white;
    }

    to {
        color: #4d403b;
    }
}

@keyframes colorchange {
    from {
        background-color: #220318;
    }

    25% {
        background-color: #032222;
    }

    50% {
        background-color: #220303;
    }

    75% {
        background-color: #040322;
    }

    to {
        background-color: #220318;
    }
}

#jsalert {
    color: white;
    margin: 10% 25%;
}

p, body {
    margin: 0;
}

body {
    font-family: "Work Sans", sans-serif;
    background-color: #040322;
    animation-duration: 60s;
    animation-name: colorchange;
    animation-iteration-count: infinite;
}

.trackLink {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

.trackLink::before {
    content: "";
    display: block;
    height: 1vh;
    animation-duration: 2s;
    animation-name: flow;
    animation-iteration-count: infinite;
}

.trackLink::after {
    content: "";
    display: block;
    height: 1vh;
    animation-duration: 2s;
    animation-name: flow2;
    animation-iteration-count: infinite;
}

.trackLink:hover, #more:hover, #close:hover, #linker:hover {
    cursor: pointer;
    animation-duration: 0.2s;
    animation-name: lightup;
    animation-fill-mode: forwards;
}

.delay1::after, .delay1::before {
    animation-duration:2.2s;
} 

.delay2::after, .delay2::before {
    animation-duration:1.8s;
}

.delay3::after, .delay3::before {
    animation-duration:2.4s;
}

#back:hover {
    cursor: pointer;
    animation-duration: 0.2s;
    animation-name: lightup2;
    animation-fill-mode: forwards;
}

#select {
    text-align: center;
    margin: 5% 25%;
}

#audioWrapper {
    margin: 10% 25%;
    margin-bottom: 2.5%;

    display: flex;
    justify-content: center;
}

#brAudCast {
    width: 80%;
}

#back, #more, #linker {
    color: white;
    margin: 10% 25%;
    text-align: center;
}

#more, #linker {
    margin-top: 5%;
    margin-bottom: 0;
}

#close {
    color: white;
    text-align: center;
}

#back:hover { 
    cursor: pointer;
}

#linker {
    display: block;
}

.context {
    display: block;
    color: white;
    text-align: center;
    margin: 1% 25%;
}

#info {
    font-size: 1.2em;
    margin-bottom: 8%;
}

@media (max-aspect-ratio: 1/1), (max-width: 770px) {
    .trackLink:hover, #more:hover, #close:hover, #linker:hover {
        cursor: pointer;
        animation-duration: 0.2s;
        animation-name: lightup2;
        animation-fill-mode: forwards;
    }

    #brAudCast {
        width: 100%;
    }

    #info {
        margin-bottom: 25%;
    }
}